[Desktop Entry]
Encoding=UTF-8
Name=Link to Preview attachment braziologo_LIe_icon.ico [Image] 43 KB
Type=Link
URL=https://mail.google.com/mail/u/0/?ui=2&ik=97a4033379&view=att&th=162f5ffb54e470f3&attid=0.1&disp=safe&realattid=f_jgd72z7n0&zw
Icon=text-html
